html {
    width: 100%; 
    height: 100%;
    scroll-behavior: smooth;
}
body {
    margin-top: 60px;
    width: 100%; 
    height: 100%;
}

.navbar {
  height: 60px;
}

.home-jumbotron {
  text-align: center;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/static/img/net2.jpg");
  background-size: cover;
  height: 95%;
  color: white;
}

.jumbotron-text {
  margin-top: 15%;
}

.alert {
  margin-bottom: 0px;
  text-align: center;
}

.home-row {
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
}

.home-titles{
  text-align: center;
  padding-top: 10%;
}

.signup-form {
  margin-top: 20%;
}


/* Profile page */

.card-body {
  text-align: center;
}

.card {
  width: 12rem;
}

.profile-row {
  margin-top: 2%;
}


.deltatime{
  float: right;
  font-size: 12px;

}

.profile-jumbo {
  text-align: center;
  height: 45%; 
}

.main-profile {
  width: 70%;
  margin-left: 15%;
}

.badge-div {
  width: 100%;
}

.profile-row {
  width: 100%;
  margin-top:5%;
}
.second-on {
  margin-top:10%;
}

.news-jumbo {
  height: 40%;
  text-align: center;
}

.news-jumbo-text {
  margin-top: 5%;
}

.news-body {
  width: 50%;
  margin-left: 25%;
}
