{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="jumbotron home-jumbotron">
  <div class = "jumbotron-text">
    <h1 class="display-1">NewsGraph!</h1>
    <p class="lead">Make the News World a better place.</p>
  </div>
  <hr class="my-4">
  <a class="btn btn-outline-light btn-lg" href="/read_news" id="find-news" role="button">Start Now!</a>
</div>
</div>


<script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
<script src="https://d3js.org/d3-quadtree.v1.min.js"></script>
<script src="https://d3js.org/d3-timer.v1.min.js"></script>
<script src="https://d3js.org/d3-force.v2.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
{{ edges|json_script:"edges" }}
{{ nodes|json_script:"nodes" }}



<h1 class="home-titles" id="latest-fakes"> LATEST FAKE NEWS</h1>
<div class="container-fluid">
  <div class="row home-row">

    <div class="col-md-6 offset-md-3">
      <div class="list-group list-group-hover">
        {% for title in fake_news %}
        <div class="list-group-item list-group-item-action flex-column align-items-start border-0 ">
          <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1">{{title}}</h3>
          </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<h1 class="home-titles" id="reliability"> SOURCE RELIABILITY</h1>
<div class="container-fluid">
  <div class="row home-row">

    <div class="col-md-6 offset-md-3">
      <div class="list-group list-group-hover">
        {% for source,value in source_reliability.items%}
        <div class="list-group-item list-group-item-action flex-column align-items-start border-0 ">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{source}}</h5> <h6 style="float:right;">{{value}}</h6>
          </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


<h1 class="home-titles" id="graph"> THE GRAPH</h1>
<div class="container-fluid">
  <div class="row home-row">
    <svg id="chart"></svg>
  </div>
</div>

  <script>
    $(document).ready(function() {
    $("#find-news").click(function() {
      // disable button
      $(this).prop("disabled", true);
      // add spinner to button
      $(this).html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Searching for news...`
      );
    });
});
  </script>
<script src="{% static 'scripts/d3_graph.js' %}"></script>
<script src="{% static 'scripts/alert_close.js' %}"></script>
{% endblock %}
