{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="jumbotron profile-jumbo jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Hi, {{user.username}}</h1>
    <p class="lead jumbotron-text">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="row main-profile">
  <div class="badge-div">
    <label class="badge badge-pill badge-primary">
      <span class="pb-2 align-middle"> &nbsp;&nbsp;Info&nbsp;&nbsp;</span>
    </label>
    <hr>
  </div>



  <!-- CARD CONTAINER SECTION -->

  <div class="row profile-row">
    <div class="col col-md-3">

      <div class="card" style="width: 12rem;">
        <div class="card-body">
          <h6 class="card-title">Confirmations</h6>
          <h5 class="card-text">{{confirmations}}</h5>
        </div>
      </div>
    </div>
    <div class="col col-md-3">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Points</h6>
          <h5 class="card-text">{{points}}</h5>
        </div>
      </div>
    </div>
    <div class="col col-md-3">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Streak</h6>
          <h5 class="card-text">{{streak}} days</h5>
        </div>
      </div>
    </div>
    <div class="col col-md-3">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Reading Time</h6>
          <h5 class="card-text">~{{read_time}} mins</h5>
        </div>
      </div>
    </div>
  </div>


  <!-- SECOND ROW -->

  <div class="row profile-row second-on">
    <div class="col col-md-6">
      <div class="badge-div">
        <label class="badge badge-pill badge-primary">
          <span class="pb-2 align-middle"> &nbsp;&nbsp;Last Activities&nbsp;&nbsp;</span>
        </label>
        <hr>
      </div>
      <!-- FIRST HALF CONTENT -->
      {% for act,delta in last_act%}
      <p style="text-align:left;margin-bottom:0px;">
        Evaluates pair as: {{act}} 
        <span style="float:center;">
          ?
        </span>
        <span class="deltatime">
          {{delta.0}} d, {{delta.1}} h, {{delta.2}} m
        </span>
      </p>
      <hr>
      {% endfor %}

    </div>
    <div class="col col-md-6">
      <div class="badge-div">
        <label class="badge badge-pill badge-primary">
          <span class="pb-2 align-middle"> &nbsp;&nbsp;Stats&nbsp;&nbsp;</span>
        </label>
        <hr>
      </div>
      <!-- SECOND HALF CONTENT -->
      {{ count_array|json_script:"data" }}
      <svg id="line"></svg>
    </div>
<script src="{% static 'scripts/profile_chart.js' %}"></script>
  </div>


</div>
{% endblock %}
