{% extends "base.html" %}
{% block content%}

<div class="jumbotron news-jumbo jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{edge.tail.news.title}}</h1>
    <p class="lead news-jumbo-text">{{edge.tail.news.source.name}}</p>
  </div>
</div>
<div class="news-body">
  <p class="lead">
    {{edge.tail.news.body}}
  </p>

  <div class="row justify-content-center" style="margin-top:5%;">
    <form action={% url 'compare' edge_id=edge.id %}  method="POST">
      {% csrf_token %}
      <input type="submit" value="Read the next one!" class="btn btn-primary" />
    </form>
  </div>


</div>

{% endblock %}
